<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("DashboardLayoutHead")

<body>
    <div class="container-scroller">

        @await Component.InvokeAsync("DashboardLayoutNavbar")

        <div class="container-fluid page-body-wrapper">

            @await Component.InvokeAsync("DashboardLayoutThemeSettingsWrapper")

            @await Component.InvokeAsync("DashboardLayoutRightSidebar")

            @await Component.InvokeAsync("DashboardLayoutSidebar")
            
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                            @ViewBag.Title
                        </h3>
                    </div>

                    @RenderBody()

                </div>
                @await Component.InvokeAsync("DashboardLayoutFooter")
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("DashboardLayoutScripts")
</body>
</html>