<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("HeadDashboard")

<body>
    <div class="container-scroller">

        @await Component.InvokeAsync("NavbarDashboard")

        <div class="container-fluid page-body-wrapper">

            @await Component.InvokeAsync("ThemeSettingsWrapperDashboard")

            @await Component.InvokeAsync("RightSidebarDashboard")

            @await Component.InvokeAsync("SidebarDashboard")
            
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                            @ViewBag.Title
                        </h3>
                    </div>

                    @RenderBody()

                </div>
                @await Component.InvokeAsync("FooterDashboard")
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("ScriptsDashboard")
</body>
</html>